html {
    font-size: 15px;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* header */

.page {
    width: 100%;
    height: 100vh;
    min-height: 770px;
    position: relative;
    background-color: #e9e9e9;
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;



}

.header-inner {
   padding-top: 38px;

}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-link {
    margin-left: 2rem;

    color: #000000;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    transition: color .2s linear;

}

.header-nav-link.active {
    position: relative;
    color: #10c9c3;
}

/* .header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: rgb(38, 182, 86);

    position: absolute;
    left: 0;
    bottom: -5px;
} */


.banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Main */

.main {

    max-width: none;
    margin-left: 665px;
    margin-top: 170px;
    text-align: left;
    margin-bottom: 200px;

 
}
.title{
    font-size: 38px;
    font-weight: 500;
}
.text{
    font-weight: 500;
    color: #787878;
    margin-bottom: 40px;
}
.btn{
   
    background-color: #10c9c3;
    display: inline-block;
    padding: 15px 40px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.1;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;


    transition: background .2s linear;
    
}

/* about */
.container-about{

    
    margin: 0;
    width: 100%;
    height: 100vh;
    min-height: 770px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
   
    
}
.title-about{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 40px;
}
.about{

    width: 100%;
    max-width: 1200px;
    margin: 110px auto;
    padding: 0 1rem;
}
.text-about{
    
    max-width: 630px;
    display: inline-block;
    
}
.text-about p{
    margin-top: 0px;
    margin-bottom: 40px;
}
.simgnature{
    display: inline-block;
    margin-bottom: 100px;
}